.results-layout {
  display: flex;
}

/* RIGHT SIDE */
.results-main {
  flex: 1;
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  overflow-y: auto;
  height: 100vh;
}



.paper-card {
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

h2.title {
  color: #5d3a8c;
  font-size: 1.8rem;
  font-weight: 600;
}

.disclaimer {
  font-size: 0.7rem;
  color: #888;
  padding: 0 3.5rem 0 3.5rem;
  text-align: center;
  margin-top: 0.9rem;
}


.result-cards {
  display: flex;
  flex-direction: column;     /* stack cards vertically */
  align-items: center;        
  gap: 0.8rem;                  
  width: 100%;
  margin-top: 2.5rem;
}

.divider {
  height: 0.15rem;
  border-radius: 0.5rem;
  background-color: rgba(238, 238, 238, 0.8);
  margin: auto;
  width: 80%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.results-loading {
  display: flex;
  min-height: calc(100vh - 3.5rem);
  padding: 4rem 4rem;
}

