.mode-toggle {
  display: flex;
  justify-content: center;
  gap: 0rem;
  margin: 0;
}

/* base button */
.mode-toggle button {
  padding: 8px 14px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  transition: 0.2s;
  font-size: 0.7rem;
}


.mode-toggle button.active { 
    background: #5d3a8c; 
    color: white; 
    border-color: #5d3a8c; 
}


/* LEFT button */
.mode-toggle button:first-child {
  border-radius: 0.9rem 0 0 0.9rem;
}

/* RIGHT button */
.mode-toggle button:last-child {
  border-radius: 0 0.9rem 0.9rem 0;
}